<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <title>Title</title>
</head>
<body>
<div class="header d-flex justify-content-around m-3">
    <div class="icon"><img src="" alt="none"></div>
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                data-bs-toggle="dropdown" aria-expanded="false">
            Дропдаун кнопка
        </button>

        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            {% if auth %}
            <li><a class="dropdown-item" href="/profile">Профиль</a></li>
            <li><a class="dropdown-item" href="/logout">Выход</a></li>
            {% else %}
            <li><a class="dropdown-item" href="/login">Вход</a></li>
            <li><a class="dropdown-item" href="/register">Зарегистрироваться</a></li>
            {% endif %}
        </ul>
    </div>
</div>
{% block content %}
{% endblock content %}

</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
</html>