{% extends 'taplink/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="container d-flex justify-content-center ">
        <div style="width: 700px" class="p-3">
            <form action="" class="form-control mt-5 p-3 shadow-lg p-3 mb-5 bg-white rounded" method="post">
                {% csrf_token %}
                {{ form|crispy }}
                <button class="btn btn-success m-3 ">Войти</button>
            </form>
        </div>
    </div>
{% endblock content %}